doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title Redrick

    body
        .wrap
            header
                .logo
                    h1.logo-name Civilization War
                    h2.logo-text Цивилизация и война
            div.osnova
                div.cont
                    h1 Привет мир!
                div.sidebar
            footer