// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$menuseparator-name: 'menuseparator';
$menuseparator-x: 0px;
$menuseparator-y: 70px;
$menuseparator-offset-x: 0px;
$menuseparator-offset-y: -70px;
$menuseparator-width: 1px;
$menuseparator-height: 29px;
$menuseparator-total-width: 1150px;
$menuseparator-total-height: 99px;
$menuseparator-image: '../images/sprite.png';
$menuseparator: (0px, 70px, 0px, -70px, 1px, 29px, 1150px, 99px, '../images/sprite.png', 'menuseparator', );
$sheet-b-ch-name: 'sheet_b_ch';
$sheet-b-ch-x: 0px;
$sheet-b-ch-y: 0px;
$sheet-b-ch-offset-x: 0px;
$sheet-b-ch-offset-y: 0px;
$sheet-b-ch-width: 1150px;
$sheet-b-ch-height: 31px;
$sheet-b-ch-total-width: 1150px;
$sheet-b-ch-total-height: 99px;
$sheet-b-ch-image: '../images/sprite.png';
$sheet-b-ch: (0px, 0px, 0px, 0px, 1150px, 31px, 1150px, 99px, '../images/sprite.png', 'sheet_b_ch', );
$sheet-ch1-name: 'sheet_ch1';
$sheet-ch1-x: 0px;
$sheet-ch1-y: 62px;
$sheet-ch1-offset-x: 0px;
$sheet-ch1-offset-y: -62px;
$sheet-ch1-width: 1150px;
$sheet-ch1-height: 8px;
$sheet-ch1-total-width: 1150px;
$sheet-ch1-total-height: 99px;
$sheet-ch1-image: '../images/sprite.png';
$sheet-ch1: (0px, 62px, 0px, -62px, 1150px, 8px, 1150px, 99px, '../images/sprite.png', 'sheet_ch1', );
$sheet-t-ch-name: 'sheet_t_ch';
$sheet-t-ch-x: 0px;
$sheet-t-ch-y: 31px;
$sheet-t-ch-offset-x: 0px;
$sheet-t-ch-offset-y: -31px;
$sheet-t-ch-width: 1150px;
$sheet-t-ch-height: 31px;
$sheet-t-ch-total-width: 1150px;
$sheet-t-ch-total-height: 99px;
$sheet-t-ch-image: '../images/sprite.png';
$sheet-t-ch: (0px, 31px, 0px, -31px, 1150px, 31px, 1150px, 99px, '../images/sprite.png', 'sheet_t_ch', );
$spritesheet-width: 1150px;
$spritesheet-height: 99px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($menuseparator, $sheet-b-ch, $sheet-ch1, $sheet-t-ch, );
$spritesheet: (1150px, 99px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
