.sidebar-right {
  width: 320px;
  margin-right: 5px;
  margin-top: 10px;

  height: 100%;
  min-height: 400px;
  //background-image: url("../images/sidebar_bg.png");
  background-color: rgba(250, 235, 215, 0.15);

  .sr-2 {
    width: 320px;
    height: 100%;
    min-height: 400px;
    background-image: url("../images/sidebar_g.png");
    background-repeat: no-repeat;

  }

}

