header.header
    .header__log
        .header__log__text
            .header__log__text-name
                h1.logo Civilisation War
            .header__log__text-desc
                h2.desc Цивилизация и война

    .header__nav
        .hmenu
            a.hmenu_tab(href="#") Комментарии

            a.hmenu_tab(href="#") Контакт

